[submodule "pixxel-ninja-parser"]
	path = pixxel-ninja-parser
	url = https://github.com/SteffenBlake/pixxel-ninja-parser.git
	branch = main
[submodule "pixxel-filter-style"]
	path = pixxel-filter-style
	url = https://github.com/SteffenBlake/pixxel-filter-style.git
	branch = main
[submodule "pixxel-filter-shortcuts"]
	path = pixxel-filter-shortcuts
	url = https://github.com/SteffenBlake/pixxel-filter-shortcuts.git
	branch = main
[submodule "pixxel-filter"]
	path = pixxel-filter
	url = https://github.com/SteffenBlake/pixxel-filter.git
	branch = main
